[package]
name = "testbot"
version = "0.1.0"
authors = ["Travis Carr <tmcarr@tmcarr.com>"]
edition = "2021"
readme = "README.md"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# env_logger = "0.9.0"
log = "0.4.17"
rand = "0.8.5"
# migrant_lib = "0.33.0"
reqwest = { version = "0.11.11", features = ["blocking", "json"] }
serde = { version = "1.0.137", features = ["derive"] }
serde_json = "1.0.81"
tokio = { version = "1.19.2", features = ["macros", "rt-multi-thread", "time"] }
tracing = "0.1.35"
dotenv = "0.15"
tracing-subscriber = { version = "0.3.11", features = ["std", "env-filter"] }

[dependencies.serenity]
default-features = false
features = [
    "builder",
    "cache",
    "client",
    "collector",
    "framework",
    "gateway",
    "http",
    "model",
    "standard_framework",
    "utils",
    "rustls_backend",
    "unstable_discord_api"
]
version = "0.10.10"

[dependencies.diesel]
version = "2.0.2"
features = [
    "postgres",
    "r2d2",
]

[dependencies.diesel_migrations]
version = "2.0.0"
